{*<div class="container col-md-12">
    <ul class="  ul-menu col-md-12">
        <li><a href="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Domains</a>
        </li>
        <li><a href="add"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Domains</a></li>
        <li><a href="sites"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Sites</a></li>
        <li><a href="stats"><i class="fa fa-align-left fa-fw" aria-hidden="true"></i> Statistics</a></li>
        <li class="nav navbar-nav navbar-right">
            <a href="logout">
                <i class="fa fa-sign-out fa-fw big-icon" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>*}


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="p1">Page 1</a></li>
            <li><a href="p2">Page 2</a></li>
            <li><a href="p3">Page 3</a></li>
            <li class="nav navbar-nav navbar-right">
                <a href="logout">
                    <i class="fa fa-sign-out fa-fw big-icon" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>